@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');


body{
  background-color: orange;
  background-color: #333333;
  background-color: rgb(0,255,0);

  font-family: sans-serif;
  font-family: 'Cedarville Cursive', cursive;
}

h1{
  color: pink;
  background-color: white;
}

a{
  text-decoration: none;
  color: red;
  font-weight: 900;
}

a:hover{
  color: black;
  text-decoration: underline;
}

a:visited{
  color: green;
}

#name{
  text-align: center;
  background-color: cyan;
}

p{
  line-height: 50px;
  text-indent: 20px;
}


/*If it was just 'li', it would change all list. But since we specified 'ul li', then all and just 'ul' list lost their glyphs.*/
ul li{
  list-style: none;
}

.links{
  color: cyan;
}

header{
  background-color: orange;
}

main{
  background-color: white;
}

footer{
  background-color: green;
}

section{
  background-color: red;
}

aside{
  background-color: blue;
}
