
header{
  width: 100%;
  height: 100px;
  background-color: white;
  text-align: center;
  border-bottom: solid;
}

#logo{
  width: 100px;
  display: inline-block;
  float: left;
}

nav{
  float: right;
  height: 1fr;
  width: 50%;
  padding-top: 50px;
}
  nav ul{}
    nav ul li{
      list-style: none;
      display: inline-block;
    }
      nav ul li a{
        text-decoration: none;
        color: green;
        font-size: 15px;
      }

      nav ul li a:hover{
      color: orange;
      text-decoration: underline;
      }

.clear{
  float: none;
  clear: both;
}

main{
  width: 100%;
  height: auto;
  background-color: white;
}

#grid1{
  display: grid;
  grid-template-areas: "g1 g2 g3 g4";
  grid-template-rows: 1fr;
  grid-template-columns: 25% 25% 25% 25%;
}

#grid2{
  display: grid;
  grid-template-areas: "g5 g6 g7 g8";
  grid-template-rows: 1fr;
  grid-template-columns: 25% 25% 25% 25%;
}

#grid3{
  display: grid;
  grid-template-areas: "g9 g10 g11 g12";
  grid-template-rows: 1fr;
  grid-template-columns: 25% 25% 25% 25%;
}

#grid4{
  display: grid;
  grid-template-areas: "g13 g14 g15 g16";
  grid-template-rows: 1fr;
  grid-template-columns: 25% 25% 25% 25%;
}

.img{
  height: 100px;
}

#g1{
    display: inline-grid;
    grid-area: grid1;
    height: auto;
}

#g2{
    display: inline-grid;
    grid-area: grid1;
    height: auto;
}

#g3{
    display: inline-grid;
    grid-area: grid1;
    height: auto;
}

#g4{
    display: inline-grid;
    grid-area: grid1;
    height: auto;
}

#g5{
    display: inline-grid;
    grid-area: grid2;
    height: auto;
}

#g6{
    display: inline-grid;
    grid-area: grid2;
    height: auto;
}
#g7{
    display: inline-grid;
    grid-area: grid2;
    height: auto;
}
#g8{
    display: inline-grid;
    grid-area: grid2;
    height: auto;
}

#g9{
    display: inline-grid;
    grid-area: grid3;
    height: auto;
}

#g10{
    display: inline-grid;
    grid-area: grid3;
    height: auto;
}

#g11{
    display: inline-grid;
    grid-area: grid3;
    height: auto;
}

#g12{
    display: inline-grid;
    grid-area: grid3;
    height: auto;
}

#g13{
    display: inline-grid;
    grid-area: grid4;
    height: auto;
}

#g14{
    display: inline-grid;
    grid-area: grid4;
    height: auto;
}

#g15{
    display: inline-grid;
    grid-area: grid4;
    height: auto;
}

#g16{
    display: inline-grid;
    grid-area: grid4;
    height: auto;
}

#break{
  text-align: center;
}

footer{
  width: 100%;
  height: 100px;
  background-color: green;
  text-align: center;
}

#copy{
}

#addres{
}

#trade{
}
