
header{
  width: 100%;
  height: 100px;
  background-color: white;
  text-align: center;
  border-bottom: solid;
}

#logo{
  width: 100px;
  display: inline-block;
  float: left;
  padding-left: 15px;
}

nav{
  float: right;
  height: 1fr;
  width: 50%;
  padding-top: 50px;
}
  nav ul{}
    nav ul li{
      list-style: none;
      display: inline-block;
    }
      nav ul li a{
        text-decoration: none;
        color: green;
        font-size: 15px;
      }

      nav ul li a:hover{
      color: white;
      text-decoration: underline;
      }

.clear{
  float: none;
  clear: both;
}

main{
  width: 100%;
  height: auto;
  background-color: white;
}

#row{
  display: grid;
  grid-template-areas: "row";
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  text-align: center;
}

#img1{
  display: inline-grid;
  height: 250px;
  width: 100%;

}

#grid{
  display: grid;
  grid-template-areas: "col1 col2";
  grid-auto-rows: 1fr;
  grid-template-columns: 50% 50%;
  text-align: center;
}

h2{
  color: orange;
}

#col1{
  grid-area: col1;
  height: auto;
  margin: 10px;
}

#img2{
  display: inline-grid;
  height: 250px;
}

#col2{
  grid-area: col2;
  height: auto;
  background-color: white;
  margin: 10px;
}

p{
  color: black;
}

footer{
  width: 100%;
  height: 100px;
  background-color: green;
  text-align: center;
}

#copy{
}

#addres{
}

#trade{
}
