header, footer{
  width: 80%;
  height: 100px;
  background-color: green;
  text-align: center;
}

#logo{
  width: 50%;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav{
  float: right;
  background-color: orange;
  height: 1fr;
  width: 50%;
}
  nav ul{}
    nav ul li{
      list-style: none;
      display: inline-block;
    }
      nav ul li a{
        text-decoration: none;
        color: green;
        font-size: 15px;
      }

      nav ul li a:hover{
      color: white;
      text-decoration: underline;
      }

.clear{
  float: none;
  clear: both;
}

main{
  width: 80%;
  height: 500px;
  background-color: orange;
}

#row{
  display: grid;
  grid-template-areas: "row";
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  text-align: center;
}

#img1{
  display: inline-grid;
  margin: 10px;
}

#grid{
  display: grid;
  grid-template-areas: "col1 col2";
  grid-auto-rows: 1fr;
  grid-template-columns: 50% 50%;
  text-align: center;
}

#col1{
  grid-area: col1;
  height: auto;
  margin: 10px;
}

#img2{
  display: inline-grid;
  height: 380px;
  margin: 10px;
}

#col2{
  grid-area: col2;
  height: auto;
  background-color: white;
  text-decoration-color: orange;
  margin: 10px;
}

#copy{
  margin: 20px;
  border-style: double;
}

#addres{
  margin: 20px;
}

#trade{
  margin: 20px;
  border-style: double;
}
