
header{
  width: 100%;
  height: 100px;
  background-color: white;
  text-align: center;
  border-bottom: solid;
}

#logo{
  width: 100px;
  display: inline-block;
  float: left;
}

nav{
  float: right;
  height: 1fr;
  width: 50%;
  padding-top: 50px;
}
  nav ul{}
    nav ul li{
      list-style: none;
      display: inline-block;
    }
      nav ul li a{
        text-decoration: none;
        color: green;
        font-size: 15px;
      }

      nav ul li a:hover{
      color: orange;
      text-decoration: underline;
      }

.clear{
  float: none;
  clear: both;
}

main{
  width: 100%;
  height: auto;
  background-color: white;
}

#grid1{
  display: grid;
  grid-template-areas: "grid1";
  grid-template-rows: 1fr;
  grid-template-columns: 25% 25% 25% 25%;
}

#grid2{
  display: grid;
  grid-template-areas: "grid2";
  grid-template-rows: 1fr;
  grid-template-columns: 25% 25% 25% 25%;
}

#grid3{
  display: grid;
  grid-template-areas: "grid3";
  grid-template-rows: 1fr;
  grid-template-columns: 25% 25% 25% 25%;
}

#grid4{
  display: grid;
  grid-template-areas: "grid4";
  grid-template-rows: 1fr;
  grid-template-columns: 25% 25% 25% 25%;
}

.gpics{
    display: inline-grid;
    height: 150px;
}

footer{
  width: 100%;
  height: 100px;
  background-color: green;
  text-align: center;
}

#copy{
}

#addres{
}

#trade{
}
