.sp_uWpIT7xEFKf{background-image:url(/rsrc.php/v3/y2/r/unHMEkuWWRk.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_uWpIT7xEFKf.sx_84e779{background-position:0 0}.sp_uWpIT7xEFKf.sx_daafff{background-position:0 -21px}

#bootloader_N_8D1{height:42px;}.bootloader_N_8D1{display:block!important;}