._2nys{height:34px;line-height:18px}
._2mx9{color:#444950;margin-top:4px}._2mx6{font-weight:bold}._2mx7{margin-bottom:8px;margin-top:8px}._2mx8{color:#4f5664;padding-left:8px}._16pe{box-sizing:border-box;height:24px;margin-top:4px;width:80px}
._4gxw{border-top:1px solid #e9eaeb;margin-top:16px;padding-top:12px}._4gxt{display:block;margin:20px 0 0 142px}._4gxt ._554b{font-size:12px}._1tqq ._1x6b{display:flex}
._4z-4{float:left;width:48px}._4z-5{float:left;width:278px}
._4p95{float:left;width:48px}._4p96{float:left;width:278px}._4p9a{width:220px}
.sp_fLhc3vnon5o{background-image:url(/rsrc.php/v3/yK/r/IeVToxDDpJm.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:40px;width:40px}.sp_fLhc3vnon5o.sx_573499{background-position:0 0}.sp_fLhc3vnon5o.sx_65dfb9{width:37px;height:37px;background-position:0 -41px}

#bootloader_CyWnY{height:42px;}.bootloader_CyWnY{display:block!important;}