._iro{margin-top:12px}._3gki{border:0;margin:12px 0 8px 12px;padding:0}._3gkj{height:52px;margin-right:12px;width:52px}._3gkk{display:block;font-size:14px;font-weight:bold;padding-bottom:8px}._3gkl{font-size:12px;margin-bottom:8px;text-align:justify}

#bootloader_88OPH{height:42px;}.bootloader_88OPH{display:block!important;}