  body{
  background-image: url(../images/water2.jpg);
  background-size: cover;
  }

  header{
    width: 100%;
    height: 100px;
    text-align: center;
  }

  #name{
    width: 100px;
    display: inline-block;
    float: left;
    padding-top: 25px;
    padding-left: 50px;
  }

  #name a{
    text-decoration: none;
    color: blue;
    font-size: 50px;
  }

  #name a:hover{
  color: black;
  text-decoration: underline;
  }

  nav{
    float: right;
    height: 1fr;
    width: 50%;
    padding-top: 50px;
  }
    nav ul{}
      nav ul li{
        list-style: none;
        display: inline-block;
      }
        nav ul li a{
          text-decoration: none;
          color: blue;
          font-size: 15px;
        }

        nav ul li a:hover{
        color: black;
        text-decoration: underline;
        }

  .clear{
    float: none;
    clear: both;
  }

  main{
    width: 100%;
    height: auto;
  }

  footer{
    width: 100%;
    height: 100px;
    background-color: green;
    text-align: center;
  }

  #copy{
  }

  #addres{
  }

  #trade{
  }


  .lImages{
    width: 350px;
    display: inline-block;
  }
