header{
  width: 100%;
  height: 100px;
  background-color: white;
  text-align: center;
  border-bottom: solid;
}

nav{
  float: right;
  height: auto;
  width: 50%;
  padding-top: 50px;
}
  nav ul{}
    nav ul li{
      list-style: none;
      display: inline-block;
    }
      nav ul li a{
        text-decoration: none;
        color: green;
        font-size: 15px;
      }

      nav ul li a:hover{
      color: orange;
      text-decoration: underline;
      }

.clear{
  float: none;
  clear: both;
}

main{
  width: 100%;
  height: auto;
  background-color: white;
}

footer{
  width: 100%;
  height: 100px;
  background-color: green;
  text-align: center;
}

#copy{
}

#addres{
}

#trade{
}


.lImages{
  width: 350px;
  display: inline-block;
}
